nemo-toolkit==2.2.0
tritonclient[all]
transformer_engine[pytorch]
flask
flask_restful
html2text
google-generativeai
sshtunnel_requests
wonderwords
openai
tiktoken
tenacity
accelerate
huggingface_hub==0.23.4
transformers==4.44.2
vllm==0.5.4
nltk
lhotse
lightning
hydra-core
pytorch-lightning
braceexpand
webdataset
librosa
einops
jiwer
pyannote-core
pyannote.metrics
editdistance
ipython
jupyter